
/*GENERALI*/

* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.tcolor {
    color: #b3b3b3;
    font-family: 'Nunito', sans-serif;
}

.link {
    text-decoration: none;
}

/* FINE GENERALI*/
/* HEADER*/

.logo {
    height: 60px;
}

div li {
    font-size: smaller; 
    list-style-type: none;
    display: inline-block;
    padding: 2px 2px;
    margin: 10px 2px;
}

/* FINE HEADER*/
/* CONTAINER*/

.containerhead {
    height: 100px;
    width: 70%;
    margin: 15px auto;
}

.containerA {
    width: 70%;
    margin: 15px auto;
}

.containerB {
    width: 70%;
    margin: 15px auto;
}

.containerfoot {
    width: 70%;
    margin:  auto;
}

.sec2head {
    width: 100%;
    margin-bottom: 20px;
}

.col {
    width: 25%;
    margin-bottom: 2%;
    float: left;
}

.colmain {
    width:46%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
}

/* FINE CONTAINER*/


