
/*GENERALI*/

* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* FINE GENERALI*/
/* CONTAINER*/


.containerhead {
    height: 100px;
    width: 70%;
    margin: 15px auto;
}

.containerA {
    width: 70%;
    margin: 15px auto;
}

.containerB {
    width: 70%;
    margin: 15px auto;
}

.containerfoot {
    width: 70%;
    margin:  auto;
}

.sec2head {
    width: 100%;
    margin-bottom: 20px;
}

.col {
    width: 25%;
    margin-bottom: 2%;
    float: left;
}

.colmain {
    width:46%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
}

/* FINE CONTAINER*/


