
/*GENERALI*/

* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.tfont {
    font-family: 'Nunito', sans-serif;
}

.txgrey {
    color: #b3b3b3;
}

.txwhite {
    color: #ffffff;
}

.maintitlesize {
    font-size:28px;
}

.smalltextsize {
    font-size:14px;
}



/* FINE GENERALI*/
/* HEADER*/

.logo {
    height: 60px;
}

div li {
    font-size: smaller; 
    list-style-type: none;
    display: inline-block;
    padding: 2px 2px;
    margin: 10px 2px;
}

.link {
    text-decoration: none;
}

/* FINE HEADER*/
/* CONTAINER*/

.containerhead {
    height: 100px;
    width: 70%;
    margin: 15px auto;
}

.containerA {
    position:relative;
    width: 70%;
    margin: 15px auto;
    border-radius: 5%;
    padding-top: 21%;
    padding-left: 5%;
    padding-bottom: 5%;
    background-image: url(../img/banner.jpg);
    background-position: center;
}

.containerA:before {
    content: " ";
    z-index: 1;
    border-radius: 5%;
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.3);
  }

  .text {
    z-index: 2;
    line-height: 1;
    width: 500px;
    top:240px;
    left: 50px;
    position: absolute;
    font-size: 25px;
    text-align: left;
  }

  .smalltextunder {
    z-index: 2;
    width: 500px;
    top:290px;
    left: 50px;
    position: absolute;
    font-size: 14px;
    text-align: left;
  }

.containerB {
    width: 70%;
    margin: 15px auto;
}

.containerfoot {
    width: 70%;
    margin:  auto;
    margin-bottom: 15px;
}

.sec2head {
    line-height: 1.0;
    padding-top: 2%;
    width: 100%;
    border-radius: 5%;
    margin-bottom: 20px;

}

.col {
    width: 25%;
    margin-bottom: 2%;
    float: left;
}

.colmain {
    width:46%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
}

.imgcol {
    width:auto;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    height: 150px;
    margin-bottom: 5%;
}

.imgcol1 {
    background-image: url(../img/img-1.jpg);
}

.imgcol2 {
    background-image: url(../img/banner-2.jpg);
}

.imgcol3 {
    background-image: url(../img/img-3.jpg);
}

.overlay {
    border-radius: 5%;
    width:auto;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
}

.foot {
    text-align: center;
    font-size: 20px;
}

span{ 
   padding-left: 1px;
     color: red;
}

/* FINE CONTAINER*/


